 <!DOCTYPE html>
  <html lang="es" ng-app="myApp">
    <head>
    <link rel="stylesheet" href="css/estilos.css">
     <title>Cursos</title>
    <meta charset="UTF-8">

      
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
      <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
        <script src="js/materialize.min.js"></script>
       <script src="js/jquery.js" ></script>
      <script src="js/angular.js" ></script>
      <script src="js/main.js"></script>

      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body ng-controller="cursoCtrl as curso">
<main>

  <ul id="Accesos" class="dropdown-content" style="color:#0097a7 ;">
  <li><a href="#!">Facebook</a></li>
  <li><a href="#!">Twiter</a></li>
  <li><a href="#!">GitHub</a></li>
  <li><a href="#!">Google</a></li>
  <li><a href="#!">Yammer</a></li>
  <li><a href="#!">Snapchat</a></li>
  <li><a href="#!">Linkedin</a></li>
</ul>
<ul id="Accesos2" class="dropdown-content" style="color:#0097a7 ;">
  <li><a id="login" href="bienvenida.html">Facebook</a></li>
  <li><a href="#!">Twiter</a></li>
  <li><a href="#!">GitHub</a></li>
  <li><a href="#!">Google</a></li>
  <li><a href="#!">Yammer</a></li>
  <li><a href="#!">Snapchat</a></li>
  <li><a href="#!">Linkedin</a></li>
</ul>
<div class="navbar-fixed" style="opacity: 0.7;">
<nav>
    <div class="nav-wrapper white" >
      <a href="#!" class="brand-logo" style="color:#9e9d24 ;"><img src="img/protecobn.png" style="width: 70px" alt="">Proteco</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse " style="color:#0097a7 ;" ><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><label class="label-icon" for="search"><i class="material-icons" style ="color: black;">search</i></label></li>
        <li><input placeholder="Nombre del curso" ng-model="search" style ="color: black;"></li>
        <li><a style="color:#0097a7 ;" href="index.html">Curos</a></li>
        <li><a style="color:#0097a7 ;" href="Convocatoria.html">Convocatoria</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="Accesos2" style="color:#0097a7 ;">Entrar<i class="material-icons right">arrow_drop_down</i></a></li>
        
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><label class="label-icon" for="search"><i class="material-icons" style ="color: black;">search</i></label><input id="search" type="search" style ="color: black;"></li>
        
        <li><a style="color:#0097a7 ;" href="index.html">Curos</a></li>
        <li><a style="color:#0097a7 ;" href="Convocatoria.html">Convocatoria</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="Accesos" style="color:#0097a7 ;">Entrar<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>
</div>



  <div class="parallax-container">
    <div class="parallax"><img src="img/Coding.jpg" style="width: 100%"></div>

  <div class="row">
    
    <div class="col s3 m3" ng-repeat="n in curso.Java | filter: search" >


      <div class="card" style="opacity:0.7;" >  
          <div class="card-image"  align="center">
          <img class="activator responsive-img responsive-img" src="img/Java_avatar.png" style="width: 70px;  ">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Java Básico<i class="material-icons right">more_vert</i></span>
          <p><a href="#">Temario</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Java Basico<i class="material-icons right">close</i></span>
          <p><br>Antecedentes: Ninguno 
              Material: Ninguno <br>
              Fecha: Por confirmar <br>
              Horario: 10:00:00 a 14:00:00 (20 hrs)<br> 
              Días: Sábado <br>
              Lugar: Laboratorio IBM/Java (Edificio T, Primer Piso) <br>
              Cupo disponible: 0 <br>
              Costo UNAM: $800 <br>
              Costo alumno externo: $1600 </p>
        </div>
      </div>
    </div>

   
    <div class="col s3 m3" ng-repeat="n in curso.Python | filter: search">


      <div class="card" style="opacity:0.6;">  
          <div class="card-image"  align="center">
          <img class="activator responsive-img" src="img/2000px-Python-logo-notext.svg.png" style="width: 95px;  ">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Python Básico<i class="material-icons right">more_vert</i></span>
          <p><a href="#">Temario</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Python Basico<i class="material-icons right">close</i></span>
          <p><br>Antecedentes: Ninguno 
            Material: Ninguno <br>
            Fecha: Por confirmar <br>
            Horario: 10:00:00 a 14:00:00 (20 hrs)<br> 
            Días: Sábado <br>
            Lugar: Laboratorio IBM/Java (Edificio T, Primer Piso) <br>
            Cupo disponible: 0 <br>
            Costo UNAM: $800 <br>
            Costo alumno externo: $1600 </p>
        </div>
      </div>
    </div>


    <div class="col s3 m3" ng-repeat="n in curso.Ruby | filter: search">


      <div class="card" style="opacity:0.6;">  
          <div class="card-image"  align="center">
          <img class="activator responsive-img" src="img/Ruby.png" style="width: 95px;  ">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Ruby Básico<i class="material-icons right">more_vert</i></span>
          <p><a href="#">Temario</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Ruby Básico<i class="material-icons right">close</i></span>
          <p><br>Antecedentes: Ninguno 
            Material: Ninguno <br>
            Fecha: Por confirmar <br>
            Horario: 10:00:00 a 14:00:00 (20 hrs)<br> 
            Días: Sábado <br>
            Lugar: Laboratorio IBM/Java (Edificio T, Primer Piso) <br>
            Cupo disponible: 0 <br>
            Costo UNAM: $800 <br>
            Costo alumno externo: $1600 </p>
        </div>
      </div>
    </div>


    <div class="col s3 m3" ng-repeat="n in curso.C1 | filter: search">


      <div class="card" style="opacity:0.6;">  
          <div class="card-image"  align="center">
          <img class="activator responsive-img" src="img/Cmas.png" style="width: 95px;  ">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">C ++ Básico<i class="material-icons right">more_vert</i></span>
          <p><a href="#">Temario</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">C ++ Básico<i class="material-icons right">close</i></span>
          <p><br>Antecedentes: Ninguno 
            Material: Ninguno <br>
            Fecha: Por confirmar <br>
            Horario: 10:00:00 a 14:00:00 (20 hrs)<br> 
            Días: Sábado <br>
            Lugar: Laboratorio IBM/Java (Edificio T, Primer Piso) <br>
            Cupo disponible: 0 <br>
            Costo UNAM: $800 <br>
            Costo alumno externo: $1600 </p>
        </div>
      </div>
    </div>

    <div class="row">
    <div class="col s3 m3" ng-repeat="n in curso.Android | filter: search">


      <div class="card" style="opacity:0.6;">  
          <div class="card-image"  align="center">
          <img class="activator responsive-img" src="img/android3.png" style="width: 95px;  ">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Android Básico<i class="material-icons right">more_vert</i></span>
          <p><a href="#">Temario</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Andrioid Básico<i class="material-icons right">close</i></span>
          <p><br>Antecedentes: Ninguno 
              Material: Ninguno <br>
              Fecha: Por confirmar <br>
              Horario: 10:00:00 a 14:00:00 (20 hrs)<br> 
              Días: Sábado <br>
              Lugar: Laboratorio IBM/Java (Edificio T, Primer Piso) <br>
              Cupo disponible: 0 <br>
              Costo UNAM: $800 <br>
              Costo alumno externo: $1600 </p>
        </div>
      </div>
    </div>

   
    <div class="col s3 m3" ng-repeat="n in curso.Arduino | filter: search">


      <div class="card" style="opacity:0.6;">  
          <div class="card-image"  align="center">
          <img class="activator responsive-img" src="img/Arduino.png" style="width: 95px;  ">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Arduino Básico<i class="material-icons right">more_vert</i></span>
          <p><a href="#">Temario</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Arduino Básico<i class="material-icons right">close</i></span>
          <p><br>Antecedentes: Ninguno 
            Material: Ninguno <br>
            Fecha: Por confirmar <br>
            Horario: 10:00:00 a 14:00:00 (20 hrs)<br> 
            Días: Sábado <br>
            Lugar: Laboratorio IBM/Java (Edificio T, Primer Piso) <br>
            Cupo disponible: 0 <br>
            Costo UNAM: $800 <br>
            Costo alumno externo: $1600 </p>
        </div>
      </div>
    </div>


    <div class="col s3 m3" ng-repeat="n in curso.Linux | filter: search">


      <div class="card" style="opacity:0.6;">  
          <div class="card-image"  align="center">
          <img class="activator responsive-img" src="img/linux.png" style="width: 80px;  ">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Linux Básico<i class="material-icons right">more_vert</i></span>
          <p><a href="#">Temario</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Linux Básico<i class="material-icons right">close</i></span>
          <p><br>Antecedentes: Ninguno 
            Material: Ninguno <br>
            Fecha: Por confirmar <br>
            Horario: 10:00:00 a 14:00:00 (20 hrs)<br> 
            Días: Sábado <br>
            Lugar: Laboratorio IBM/Java (Edificio T, Primer Piso) <br>
            Cupo disponible: 0 <br>
            Costo UNAM: $800 <br>
            Costo alumno externo: $1600 </p>
        </div>
      </div>
    </div>


    <div class="col s3 m3" ng-repeat="n in curso.Redes | filter: search">


      <div class="card" style="opacity:0.6;">  
          <div class="card-image"  align="center">
          <img class="activator responsive-img" src="img/red2.png" style="width: 117px;  ">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Redes Básico<i class="material-icons right">more_vert</i></span>
          <p><a href="#">Temario</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Redes Básico<i class="material-icons right">close</i></span>
          <p><br>Antecedentes: Ninguno 
            Material: Ninguno <br>
            Fecha: Por confirmar <br>
            Horario: 10:00:00 a 14:00:00 (20 hrs)<br> 
            Días: Sábado <br>
            Lugar: Laboratorio IBM/Java (Edificio T, Primer Piso) <br>
            Cupo disponible: 0 <br>
            Costo UNAM: $800 <br>
            Costo alumno externo: $1600 </p>
        </div>
      </div>
    </div>
  </div>
  </div>


    


  </div>

  </div>
  <div class="section white" >
    <div class="row container">
      <h3 class="header" style="color: #0097a7;">CURSOS INTERSEMESTRALES</h3>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="img/coning2.jpg" style="width: 100%"></div>

  <div class="row">
    <div class="col s3 m3" ng-repeat="n in curso.Java | filter: search">


      <div class="card" style="opacity:0.6;">  
          <div class="card-image"  align="center">
          <img class="activator responsive-img" src="img/Java_avatar.png" style="width: 70px;  ">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Java Intermedio<i class="material-icons right">more_vert</i></span>
          <p><a href="#">Temario</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Java Intermedio<i class="material-icons right">close</i></span>
          <p><br>Antecedentes: Ninguno 
              Material: Ninguno <br>
              Fecha: Por confirmar <br>
              Horario: 10:00:00 a 14:00:00 (20 hrs)<br> 
              Días: Sábado <br>
              Lugar: Laboratorio IBM/Java (Edificio T, Primer Piso) <br>
              Cupo disponible: 0 <br>
              Costo UNAM: $800 <br>
              Costo alumno externo: $1600 </p>
        </div>
      </div>
    </div>

   
    <div class="col s3 m3" ng-repeat="n in curso.Python | filter: search">


      <div class="card" style="opacity:0.6;">  
          <div class="card-image"  align="center">
          <img class="activator responsive-img" src="img/2000px-Python-logo-notext.svg.png" style="width: 95px;  ">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Python Intermedio<i class="material-icons right">more_vert</i></span>
          <p><a href="#">Temario</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Python Intermedio<i class="material-icons right">close</i></span>
          <p><br>Antecedentes: Ninguno 
            Material: Ninguno <br>
            Fecha: Por confirmar <br>
            Horario: 10:00:00 a 14:00:00 (20 hrs)<br> 
            Días: Sábado <br>
            Lugar: Laboratorio IBM/Java (Edificio T, Primer Piso) <br>
            Cupo disponible: 0 <br>
            Costo UNAM: $800 <br>
            Costo alumno externo: $1600 </p>
        </div>
      </div>
    </div>


    <div class="col s3 m3" ng-repeat="n in curso.Ruby | filter: search">


      <div class="card" style="opacity:0.6;">  
          <div class="card-image"  align="center">
          <img class="activator responsive-img" src="img/Ruby.png" style="width: 95px;  ">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Ruby Intermedio<i class="material-icons right">more_vert</i></span>
          <p><a href="#">Temario</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Ruby Intermedio<i class="material-icons right">close</i></span>
          <p><br>Antecedentes: Ninguno 
            Material: Ninguno <br>
            Fecha: Por confirmar <br>
            Horario: 10:00:00 a 14:00:00 (20 hrs)<br> 
            Días: Sábado <br>
            Lugar: Laboratorio IBM/Java (Edificio T, Primer Piso) <br>
            Cupo disponible: 0 <br>
            Costo UNAM: $800 <br>
            Costo alumno externo: $1600 </p>
        </div>
      </div>
    </div>


    <div class="col s3 m3" ng-repeat="n in curso.C1 | filter: search">


      <div class="card" style="opacity:0.6;">  
          <div class="card-image"  align="center">
          <img class="activator responsive-img" src="img/Cmas.png" style="width: 95px;  ">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">C ++ Intermedio<i class="material-icons right">more_vert</i></span>
          <p><a href="#">Temario</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">C ++ Intermedio<i class="material-icons right">close</i></span>
          <p><br>Antecedentes: Ninguno 
            Material: Ninguno <br>
            Fecha: Por confirmar <br>
            Horario: 10:00:00 a 14:00:00 (20 hrs)<br> 
            Días: Sábado <br>
            Lugar: Laboratorio IBM/Java (Edificio T, Primer Piso) <br>
            Cupo disponible: 0 <br>
            Costo UNAM: $800 <br>
            Costo alumno externo: $1600 </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s3 m3" ng-repeat="n in curso.Android | filter: search">


      <div class="card" style="opacity:0.6;">  
          <div class="card-image"  align="center">
          <img class="activator responsive-img" src="img/android3.png" style="width: 95px;  ">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Android Intermedio<i class="material-icons right">more_vert</i></span>
          <p><a href="#">Temario</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Andrioid Intermedio<i class="material-icons right">close</i></span>
          <p><br>Antecedentes: Ninguno 
              Material: Ninguno <br>
              Fecha: Por confirmar <br>
              Horario: 10:00:00 a 14:00:00 (20 hrs)<br> 
              Días: Sábado <br>
              Lugar: Laboratorio IBM/Java (Edificio T, Primer Piso) <br>
              Cupo disponible: 0 <br>
              Costo UNAM: $800 <br>
              Costo alumno externo: $1600 </p>
        </div>
      </div>
    </div>

   
    <div class="col s3 m3" ng-repeat="n in curso.Arduino | filter: search">


      <div class="card" style="opacity:0.6;">  
          <div class="card-image"  align="center">
          <img class="activator responsive-img" src="img/Arduino.png" style="width: 95px;  ">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Arduino Intermedio<i class="material-icons right">more_vert</i></span>
          <p><a href="#">Temario</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Arduino Intermedio<i class="material-icons right">close</i></span>
          <p><br>Antecedentes: Ninguno 
            Material: Ninguno <br>
            Fecha: Por confirmar <br>
            Horario: 10:00:00 a 14:00:00 (20 hrs)<br> 
            Días: Sábado <br>
            Lugar: Laboratorio IBM/Java (Edificio T, Primer Piso) <br>
            Cupo disponible: 0 <br>
            Costo UNAM: $800 <br>
            Costo alumno externo: $1600 </p>
        </div>
      </div>
    </div>


    <div class="col s3 m3" ng-repeat="n in curso.Linux | filter: search">


      <div class="card" style="opacity:0.6;">  
          <div class="card-image"  align="center">
          <img class="activator responsive-img" src="img/linux.png" style="width: 80px;  ">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Linux Intermedio<i class="material-icons right">more_vert</i></span>
          <p><a href="#">Temario</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Linux Intermedio<i class="material-icons right">close</i></span>
          <p><br>Antecedentes: Ninguno 
            Material: Ninguno <br>
            Fecha: Por confirmar <br>
            Horario: 10:00:00 a 14:00:00 (20 hrs)<br> 
            Días: Sábado <br>
            Lugar: Laboratorio IBM/Java (Edificio T, Primer Piso) <br>
            Cupo disponible: 0 <br>
            Costo UNAM: $800 <br>
            Costo alumno externo: $1600 </p>
        </div>
      </div>
    </div>


    <div class="col s3 m3" ng-repeat="n in curso.Redes | filter: search">


      <div class="card" style="opacity:0.6;">  
          <div class="card-image"  align="center">
          <img class="activator responsive-img" src="img/red2.png" style="width: 117px;  ">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Redes Intermedio<i class="material-icons right">more_vert</i></span>
          <p><a href="#">Temario</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Redes Intermedio<i class="material-icons right">close</i></span>
          <p><br>Antecedentes: Ninguno 
            Material: Ninguno <br>
            Fecha: Por confirmar <br>
            Horario: 10:00:00 a 14:00:00 (20 hrs)<br> 
            Días: Sábado <br>
            Lugar: Laboratorio IBM/Java (Edificio T, Primer Piso) <br>
            Cupo disponible: 0 <br>
            Costo UNAM: $800 <br>
            Costo alumno externo: $1600 </p>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="section white">
    <div class="row container">
      <h3 class="header" style="color: #0097a7;">CURSOS INTERSEMESTRALES</h3>
    </div>
  </div>
  
  <div class="parallax-container">
      <div class="parallax"><img src="img/Coding.jpg"></div>

          
            <div class="row">
    <div class="col s3 m3" ng-repeat="n in curso.Java | filter: search">


      <div class="card" style="opacity:0.6;">  
          <div class="card-image"  align="center">
          <img class="activator responsive-img" src="img/Java_avatar.png" style="width: 70px;  ">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Java Avanzado<i class="material-icons right">more_vert</i></span>
          <p><a href="#">Temario</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Java Avanzado<i class="material-icons right">close</i></span>
          <p><br>Antecedentes: Ninguno 
              Material: Ninguno <br>
              Fecha: Por confirmar <br>
              Horario: 10:00:00 a 14:00:00 (20 hrs)<br> 
              Días: Sábado <br>
              Lugar: Laboratorio IBM/Java (Edificio T, Primer Piso) <br>
              Cupo disponible: 0 <br>
              Costo UNAM: $800 <br>
              Costo alumno externo: $1600 </p>
        </div>
      </div>
    </div>

   
    <div class="col s3 m3" ng-repeat="n in curso.Python | filter: search">


      <div class="card" style="opacity:0.6;">  
          <div class="card-image"  align="center">
          <img class="activator responsive-img" src="img/2000px-Python-logo-notext.svg.png" style="width: 95px;  ">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Python Avanzado<i class="material-icons right">more_vert</i></span>
          <p><a href="#">Temario</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Python Avanzado<i class="material-icons right">close</i></span>
          <p><br>Antecedentes: Ninguno 
            Material: Ninguno <br>
            Fecha: Por confirmar <br>
            Horario: 10:00:00 a 14:00:00 (20 hrs)<br> 
            Días: Sábado <br>
            Lugar: Laboratorio IBM/Java (Edificio T, Primer Piso) <br>
            Cupo disponible: 0 <br>
            Costo UNAM: $800 <br>
            Costo alumno externo: $1600 </p>
        </div>
      </div>
    </div>


    <div class="col s3 m3" ng-repeat="n in curso.Ruby | filter: search">


      <div class="card" style="opacity:0.6;">  
          <div class="card-image"  align="center">
          <img class="activator responsive-img" src="img/Ruby.png" style="width: 95px;  ">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Ruby Avanzado<i class="material-icons right">more_vert</i></span>
          <p><a href="#">Temario</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Ruby Avanzado<i class="material-icons right">close</i></span>
          <p><br>Antecedentes: Ninguno 
            Material: Ninguno <br>
            Fecha: Por confirmar <br>
            Horario: 10:00:00 a 14:00:00 (20 hrs)<br> 
            Días: Sábado <br>
            Lugar: Laboratorio IBM/Java (Edificio T, Primer Piso) <br>
            Cupo disponible: 0 <br>
            Costo UNAM: $800 <br>
            Costo alumno externo: $1600 </p>
        </div>
      </div>
    </div>


    <div class="col s3 m3" ng-repeat="n in curso.C1 | filter: search">


      <div class="card" style="opacity:0.6;">  
          <div class="card-image"  align="center">
          <img class="activator responsive-img" src="img/Cmas.png" style="width: 95px;  ">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">C ++ Avanzado<i class="material-icons right">more_vert</i></span>
          <p><a href="#">Temario</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">C ++ Avanzado<i class="material-icons right">close</i></span>
          <p><br>Antecedentes: Ninguno 
            Material: Ninguno <br>
            Fecha: Por confirmar <br>
            Horario: 10:00:00 a 14:00:00 (20 hrs)<br> 
            Días: Sábado <br>
            Lugar: Laboratorio IBM/Java (Edificio T, Primer Piso) <br>
            Cupo disponible: 0 <br>
            Costo UNAM: $800 <br>
            Costo alumno externo: $1600 </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s3 m3" ng-repeat="n in curso.Android | filter: search">


      <div class="card" style="opacity:0.6;">  
          <div class="card-image"  align="center">
          <img class="activator responsive-img" src="img/android3.png" style="width: 95px;  ">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Android Avanzado<i class="material-icons right">more_vert</i></span>
          <p><a href="#">Temario</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Andrioid Avanzado<i class="material-icons right">close</i></span>
          <p><br>Antecedentes: Ninguno 
              Material: Ninguno <br>
              Fecha: Por confirmar <br>
              Horario: 10:00:00 a 14:00:00 (20 hrs)<br> 
              Días: Sábado <br>
              Lugar: Laboratorio IBM/Java (Edificio T, Primer Piso) <br>
              Cupo disponible: 0 <br>
              Costo UNAM: $800 <br>
              Costo alumno externo: $1600 </p>
        </div>
      </div>
    </div>

   
    <div class="col s3 m3" ng-repeat="n in curso.Arduino | filter: search">


      <div class="card" style="opacity:0.6;">  
          <div class="card-image"  align="center">
          <img class="activator responsive-img" src="img/Arduino.png" style="width: 95px;  ">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Arduino Avanzado<i class="material-icons right">more_vert</i></span>
          <p><a href="#">Temario</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Arduino Avanzado<i class="material-icons right">close</i></span>
          <p><br>Antecedentes: Ninguno 
            Material: Ninguno <br>
            Fecha: Por confirmar <br>
            Horario: 10:00:00 a 14:00:00 (20 hrs)<br> 
            Días: Sábado <br>
            Lugar: Laboratorio IBM/Java (Edificio T, Primer Piso) <br>
            Cupo disponible: 0 <br>
            Costo UNAM: $800 <br>
            Costo alumno externo: $1600 </p>
        </div>
      </div>
    </div>


    <div class="col s3 m3" ng-repeat="n in curso.Linux | filter: search">


      <div class="card" style="opacity:0.6;">  
          <div class="card-image"  align="center">
          <img class="activator responsive-img" src="img/linux.png" style="width: 80px;  ">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Linux Avanzado<i class="material-icons right">more_vert</i></span>
          <p><a href="#">Temario</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Linux Avanzado<i class="material-icons right">close</i></span>
          <p><br>Antecedentes: Ninguno 
            Material: Ninguno <br>
            Fecha: Por confirmar <br>
            Horario: 10:00:00 a 14:00:00 (20 hrs)<br> 
            Días: Sábado <br>
            Lugar: Laboratorio IBM/Java (Edificio T, Primer Piso) <br>
            Cupo disponible: 0 <br>
            Costo UNAM: $800 <br>
            Costo alumno externo: $1600 </p>
        </div>
      </div>
    </div>


    <div class="col s3 m3" ng-repeat="n in curso.Redes | filter: search">


      <div class="card" style="opacity:0.6;">  
          <div class="card-image"  align="center">
          <img class="activator responsive-img" src="img/red2.png" style="width: 117px;  ">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Redes Avanzado<i class="material-icons right">more_vert</i></span>
          <p><a href="#">Temario</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Redes Avanzado<i class="material-icons right">close</i></span>
          <p><br>Antecedentes: Ninguno 
            Material: Ninguno <br>
            Fecha: Por confirmar <br>
            Horario: 10:00:00 a 14:00:00 (20 hrs)<br> 
            Días: Sábado <br>
            Lugar: Laboratorio IBM/Java (Edificio T, Primer Piso) <br>
            Cupo disponible: 0 <br>
            Costo UNAM: $800 <br>
            Costo alumno externo: $1600 </p>
        </div>
      </div>
    </div>
  </div>







    </div>
</main>


<footer class="page-footer white">
          <div class="container">
            <div class="row">
              <div class="col l6 s3">
                <h5 style="color: black;">¿Quienes somos?</h5>
                <p  style="color: #0097a7;">El Programa de Tecnología en Cómputo busca establecer un proceso permanente, con herramientas de cómputo, para la formación de personal docente y de investigación, en las diferentes áreas de las Divisiones de la Facultad de Ingeniería, mediante la participación de los integrantes en cursos especializados y en el desarrollo de proyectos.</p>
              </div>
              <div class="col l4 offset-l2 s3">
                <h5 style="color: black;">Contáctanos</h5>
                <ul>
                  <li><a href="#!" style ="color: #0097a7;">Ubicación: Edificio Q "Luis G. Valdés Vallejo", 2do piso PROTECO, Anexo de Ingeniería, Ciudad Universitaria, Ciudad de México. <br>
                  Teléfono: 56-22-30-45 y 56-22-38-99 ext. 44174. <br>
                  Correo electrónico: cursosproteco@gmail.com</a></li>
                  <li><a href="#!" style="color: #0097a7;">Facebok</a></li>
                  <li><a href="#!" style="color: #0097a7;">Tweeter</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container" style="color: #0097a7;">
            © 2017 Programa de Tecnología en Cómputo. Universidad Nacional Autónoma de México. Facultad de Ingeniería. Todos los derechos reservados.
            
            </div>
          </div>
        </footer>

 	
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <!--<script type="text/javascript" src="js/app.js"></script>-->

<script>
	$(document).ready(function(){
	$('.parallax').parallax();
});
  $(".button-collapse").sideNav();
  
</script>
<script src="js/app.js"></script>
<script>
  // Load the SDK asynchronously
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
   </script>

    </body>
  </html>